
/*

Main Layout

*/
body {
    margin: 0;
    display: grid;
    grid-template-areas:
            'side header'
            'side main'
            'side footer';
    grid-gap: 0px;
    background-color: rgba(43, 45, 66, 1);
    grid-template-columns: 0em auto;
    font-family: "Calibri", serif;

}

#header {
    background-color: rgba(237, 242, 244, 1);
    padding: 20px 10px;
    grid-area: header;
    display: inline-grid;
    grid-template-areas:
            'button title search'
            'whitespace filterLabel filterContainer';
    grid-template-columns: 4em 7em auto;
}
#main {
    background-color: rgba(237, 242, 244, 1);
    padding: 20px 10px;
    grid-area: main;
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto;
}
#footer {
    background-color: rgba(237, 242, 244, 1);
    padding-top: 1em;
    padding-left: 1em;
    grid-area: footer;
    display: inline-grid;
    grid-template-areas:
            'copyright about';
    grid-template-columns: auto 14em;
}

#sidePanel {
    height: 100%;
    width: 100%;
    background-color: rgba(43, 45, 66, 1);
    grid-area: side;
}


/*

Specific Elements

*/

#logo {
    font-size: 25px;
    font-weight: bold;
    color: rgba(216, 0, 50, 1);
    text-decoration: none;
    padding-top: 0.35em;
}

#filterContainer {
    display: inline-grid;
    grid-template-areas:
            'genre language distance exchangeWith';
    grid-template-columns: 25% 25% 25% 25%;
}
#filterGenre{
    grid-area: genre;
}
#filterLanguage{
    grid-area: language;
}
#filterDistance{
    grid-area: distance;
}
#filterExchangeWith{
    grid-area: exchangeWith;
}
#filterLabel{
    color: rgba(216, 0, 50, 1);
    font-style: oblique;
    cursor: pointer;
    transition: 0.25s all;
}
#filterLabel:hover{
    color: rgba(43, 45, 66, 1);
    transition: 0.25s all;
}


#distance {
    width: 95%;
    height: 3em;
    padding-top: 1px;
}

#about
{
    padding-top: 1em;
}




/*

General Elements

*/

#sidePanelOpenButton
{
    color: rgba(43, 45, 66, 1)
}

.side a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 3em;
    color: rgba(141, 153, 174, 1);
    display: block;
    transition: 0.3s;
}

.side a:hover {
    color: rgba(216, 0, 50, 1);
}


input[type=text] {
    width: 100%;
    height: 3em;
    float:inside;
    box-sizing: border-box;
    border: 2px solid rgba(141, 153, 174, 1);
    border-radius: 4px;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
}


.button
{
    border-radius: 10px;
    padding: 0.25em;
    background-color: rgba(216, 0, 50, 1);
    text-decoration: none;
    color: rgba(43, 45, 66, 1);
    transition: all 0.2s;
}
.button:hover
{
    background-color: rgba(43, 45, 66, 1);
    color: rgba(237, 242, 244, 1);
}
#profileImage
{
    border-radius: 99999px;
    background-size:cover;
    padding: 8px 8px 8px 8px;
    width: 3em;
    height: 3em;
    display: block;
    border-radius: 999999px;
}


.filterbutton {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 4px;
    margin: 4px 2px;
    cursor: pointer;
}



/*

Other

*/

@media screen and (max-width: 1305px) {
    #main {
        grid-template-columns: auto auto auto auto;
    }
}
@media screen and (max-width: 1045px) {
    #main {
        grid-template-columns: auto auto auto;
    }
}
@media screen and (max-width: 785px) {
    #main {
        grid-template-columns: auto auto;
    }
}
@media screen and (max-width: 525px) {
    #main {
        grid-template-columns: auto;
    }
}

.bookViewContainer
{
    width: 100%;
    height: fit-content;
    display: inline-grid;
    grid-template-areas:
            'image'
            'info';
    grid-template-rows: 70% 30%;

}
.bookViewInfo
{
    height: fit-content;
    grid-area: info;
    width: 100%;
    background-color: rgba(43, 45, 66, 1);
    color: rgba(237, 242, 244, 1);
}
.bookViewImage
{
    grid-area: image;
    width: 100%;
    height: 21em;
    background-image: url("https://cdn-images-1.medium.com/max/1024/1*OQXqTrTpXynrt85LeuaCnA.jpeg");
    background-size: 100% 100%;
}

.bookViewAuthor
{
    margin: 0px;
    padding-left: 0.4em;
}
.bookViewTitle
{
    margin: 0px;
    font-size: 1.35em;
    padding-top: 0.1em;
    padding-left: 0.25em;
}
.bookdone
{
    margin: 0px;
    font-size: 1.35em;
    padding-top: 0.1em;
    padding-left: 0.25em;
    background-color: red;
    color: red;
}

/* SIDEPANEL , SEARCHBAR , FOOTER AND A GENETIC BODY */

body
{
    width: 100%;
    height: 100%;
    font-family: "Calibri", serif;
    font-size: 1em;
}

#sidePanelOpenButton
{
    color: rgba(43, 45, 66, 1)
}

.side a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 3em;
    color: rgba(141, 153, 174, 1);
    display: block;
    transition: 0.3s;
}

.side a:hover {
    color: rgba(216, 0, 50, 1);
}


input[type=text] {
    width: 100%;
    height: 3em;
    float:inside;
    box-sizing: border-box;
    border: 2px solid rgba(141, 153, 174, 1);
    border-radius: 4px;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
}


.button
{
    border-radius: 10px;
    padding: 0.25em;
    background-color: rgba(216, 0, 50, 1);
    text-decoration: none;
    color: rgba(43, 45, 66, 1);
    transition: all 0.2s;
}
.button:hover
{
    background-color: green;
    color: rgba(237, 242, 244, 1);
}


/* TOP NAVBAR */


.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
    color: rgba(216, 0, 50, 1);
}

.header a:hover {
    background-color: #ddd;
    color: black;
}

.header a.active {
    background-color: rgba(216, 0, 50, 1);
    color: white;
}

.header-right {
    float: right;
}


/* DROPDOWN SELECTOR TO CHOOSE DIFFERENT OPTIONS */


.custom-select {
    position: relative;
    text-align: center;
    top:80px;
}

.select-options {
    display: block;
}
.custom-select select {
    display: none;
}

.select-selected {
    background-color: rgba(216, 0, 50, 1);
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    /*border-color: #fff transparent transparent transparent; */
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/*style the items (options), including the selected item:*/

.select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    /**border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent; */
    cursor: pointer;
    user-select: none;
}
/*style items (options):*/
.select-items {
    position: absolute;
    background-color: rgba(216, 0, 50, 1);
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}
.select-items div:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.submitButton
{
    position: relative;
    bottom: 0;
    font-size: 1.5em;
    text-align:center;
}
.offerIcon
{
    border: 0px;
    background-color: rgba(216, 0, 50, 1);
    color: rgba(43, 45, 66, 1);
    transition: all 0.2s;
}
.offerIcon:hover
{
    background-color: rgba(43, 45, 66, 1);
    color: rgba(237, 242, 244, 1);
}



/* ZOOM ANIMATION */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }   
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}




