<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get Statistics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/getStatisticsStyle.css">
    <script src="../scripts/user-panel-nav-menu.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

</head>
<body>

<table class="statisticsContainer">

    <h1>Choose the format</h1>
    <label class="container">HTML
        <input type="checkbox">
        <span class="checkmark"></span>
    </label>
    <label class="container">JSON
        <input type="checkbox">
        <span class="checkmark"></span>
    </label>
    <label class="container">XML
        <input type="checkbox">
        <span class="checkmark"></span>
    </label>

    <tr >
        <td colspan="2" class="submitButton"><div class="submitButton offerIcon"><i class="fa fa-check-circle" onclick="closePopup()"></i></div></td>
    </tr>

</table>


</body>
</html>