<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/index-style.css">
    <script src="../scripts/index-show-slides.js"></script>
</head>
<body>

<div class="header">
    <a href="#" class="logo">BooX</a>
    <div class="header-right">
        <a class="active" href="#meet">Meet the Developers</a>
        <a class="active" href="#contact">Contact</a>
        <a class="active" href="#login">Login</a>
    </div>
</div>


<div class="image-background">
    <img src="../images/img4.jpg" style="width: 100%"/>
</div>

</body>
</html>