<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/index-style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>
<body>

<div class="header">
    <a href="index.html" class="logo">BooX</a>
    <div class="header-right">
        <a class="active" href="#meet">Meet the Developers</a>
        <a class="active" href="#contact">Contact</a>
        <a class="active" href="#login" onclick="document.getElementById('id01').style.display='block'">Login</a>

        <!-- The login form -->
        <div id="id01" class="modal">
            <!-- Login Form Content -->
            <form class="modal-content animate">
                <div class="form-container">

                    <button class="loginButton loginButton-facebook">Login With Facebook</button>
                    <button class="loginButton loginButton-google">Login With Google</button>

                    <button type="button" onclick="document.getElementById('id01').style.display='none'"
                            class="cancelbtn">Cancel
                    </button>

                </div>
            </form>
        </div>

    </div>
</div>


<div class="image-background">
    <img src="../images/img4.jpg" style="width: 100%"/>
</div>


</body>
</html>