<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User-Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/user-panel-style.css">
    <script src="../scripts/user-panel-nav-menu.js"></script>
    <link rel="stylesheet" href="../styles/palette.scss">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>
<body>

<div class="header">
    <a href="index.html" class="logo">BooX</a>
     <input type="text" placeholder="Search books" class="search-bar">
    <div class="header-right">
        <a class="active" href="#meet">Meet the Developers</a>
        <a class="active" href="#contact">Contact</a>
        <a class="active" href="#logout">Logout</a>
    </div>
</div>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#"><i class="fas fa-plus" onclick="return createPopup('submitBookForm.html')"></i></a>
    <a href="#"><i class="fas fa-book"></i></a>
    <a href="#"><i class="fas fa-chart-bar"></i></a>
    <a href="#"><i class="fas fa-thumbtack"></i></a>
</div>


<span class="openbtn" onclick="openNav()">&#9776; Options</span>

</body>
</html>